<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Hello jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="hello.js"></script>
</head>

<body>
<div>
    <p class="greeting-id">The ID is </p>
    <p class="greeting-content">The content is </p>
</div>
<button onclick="initiate()">Click me!</button>
</body>
<script>
    function initiate() {
        $.ajax({
            url: "http://localhost:8080/doctors",
            method: "GET"
        }).then(function(data) {
            $('.greeting-id').append(JSON.stringify(data[0]));
            //$('.greeting-content').append();
        });
    }
</script>
</html>